---
import ProductCard from '@/components/ProductCard';
import { ArrowRight } from 'lucide-react';
import FeaturedProduct from '@/components/FeaturedProduct.tsx';
const featuredProduct = {
  title: 'Messenger Bag',
  description:
    'Ideal para quienes buscan una solución práctica y segura para llevar sus pertenencias. Diseño moderno y características que se adaptan a cualquier ocasión.',
  characteristics: [
    'Resistente al agua',
    'Materiales premium',
    'Diseño versátil',
  ],
  price: '$39.900',
  media: '/Messenger-bag.mp4',
};
const featuredProducts = [
  {
    id: 1,
    title: 'Traveler Bag',
    description:
      'Tela Oxford de alta densidad, es resistente al agua y al desgarro, garantizando durabilidad y seguridad en cada uso. Cremalleras metálicas de alta calidad.',
    price: '$43.000',
    imageSrc: '/traveler-bag.webp',
  },
  {
    id: 2,
    title: 'Mochila Impermeable',
    description:
      'Materiales de alta calidad cubiertos con una membrana resistente al agua para la superficie. Ideal para llevarlas cuando necesitas llevar muchas cosas.',
    price: '$50.000',
    imageSrc: '/Mochila.webp',
  },
];
---

<section class="py-20">
  <div class="mb-16 text-center">
    <h2 id="products" class="text-3xl font-bold text-aeternum-highlight mb-4">
      Producto destacado
    </h2>
    <p class="text-aeternum-accent/70 max-w-2xl mx-auto">
      Nuestros productos más buscados, hechos para quienes buscan calidad y
      elegancia
    </p>
  </div>
  <div>
    <FeaturedProduct client:visible product={featuredProduct} />
  </div>
  <h2 class="text-3xl font-bold text-aeternum-highlight mb-4 text-center">
    Otros productos destacados
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      featuredProducts.map((product, index) => (
        <div
          class="animate-scale-up"
          style={{ animationDelay: `${index * 150}ms` }}
        >
          <ProductCard
            title={product.title}
            description={product.description}
            price={product.price}
            imageSrc={product.imageSrc}
            featured
          />
        </div>
      ))
    }
  </div>

  <div class="flex justify-center mt-16">
    <a
      href="/products"
      class="group inline-flex items-center gap-2 text-aeternum-accent hover:text-aeternum-highlight transition-colors duration-300"
    >
      <span>Ver más productos</span>
      <ArrowRight
        size={16}
        class="transform transition-transform duration-300 group-hover:translate-x-1"
      />
    </a>
  </div>
</section>
