---
import ProductCard from '@/components/ProductCard';
import { ArrowRight } from 'lucide-react';
import FeaturedProduct from '@/components/FeaturedProduct.tsx';
import { supabase } from '@/lib/supabase';
import type { Product } from '@/types/types';
const { data: products, error } = (await supabase
  .from('products')
  .select('*')
  .eq('featured', true)) as { data: Product[] | null; error: any };

const FeaturedProductMainName = 'Messenger Bag';

const featuredProductMain = products?.find(
  (product) => product.name === FeaturedProductMainName,
);
const featuredProducts = products?.filter(
  (product) => product.name !== FeaturedProductMainName,
);
---

<section class="py-20">
  <div class="mb-16 text-center">
    <h2 id="products" class="text-3xl font-bold text-aeternum-highlight mb-4">
      Producto destacado
    </h2>
    <p class="text-aeternum-accent/70 max-w-2xl mx-auto">
      Nuestros productos más buscados, hechos para quienes buscan calidad y
      elegancia
    </p>
  </div>
  <div>
    {
      featuredProductMain && (
        <FeaturedProduct client:visible product={featuredProductMain} />
      )
    }
  </div>
  <h2 class="text-3xl font-bold text-aeternum-highlight mb-12 text-center">
    Otros productos destacados
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      featuredProducts?.map((product, index) => (
        <div
          class="animate-scale-up"
          style={{ animationDelay: `${index * 150}ms` }}
        >
          <ProductCard
            name={product.name}
            description={product.description}
            price={product.price}
            url={product.url}
            featured={product.featured}
          />
        </div>
      ))
    }
  </div>

  <div class="flex justify-center mt-16">
    <a
      href="/products"
      class="group inline-flex items-center gap-2 text-aeternum-accent hover:text-aeternum-highlight transition-colors duration-300"
    >
      <span>Ver más productos</span>
      <ArrowRight
        size={16}
        class="transform transition-transform duration-300 group-hover:translate-x-1"
      />
    </a>
  </div>
</section>
